.hotlist-btn {
  background-color: var(--green) !important;
  color: var(--white) !important;
  padding: 4px 8px;
  font-weight: 500;
  font-size: 22px;
  border: 0;
}

.remove-btn {
  /* background-color: var(--white) !important;
  color: var(--secondarytext) !important; */
  color: white;
  background-color: #BF00ED;
  border: 1px solid var(--darkborder) !important;
  padding: 4px 8px;
  font-size: 14px;
  width: 180px;
}


.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 8px;
  text-align: left;
}