.container {
    margin-left: 300px;
    margin-right: 70px;
  }
  
  .heading {
    color: #000;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 181.523%;
    margin-left: 18px;
    margin-right: 32.674px;
    text-align: center;
  }
  
  .profilepic {
    width: 244px;
    height: 217px;
    flex-shrink: 0;
  }
  
  .masterpanel {
    color: #000;
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 181.523%;
    margin-top: 0px;
    margin-left: 18px;
    margin-right: 32.674px;
    text-align: center;
  }
  
  .aboutmebtn {
    background: #BF00ED;
    color: white;
    padding: 20px 50px;
    border: 1px solid white;
    border-radius: 0px;
    cursor: pointer;
    margin-left: 24px;
    width: 175px;
    height: 22px;
  }
  
  .infocontainer {
    display: flex;
    flex-direction: column;
  }
  
  .icon {
    width: 18px;
    height: 18px;
    flex-shrink: 0;
    margin-right: 4px;
  }
  