
.container {
    margin-left: 167px;
  }
  
  .heading {
    color: #000;
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 181.523%;
    margin-right: 32.674px;
  }
  
  .formcontainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 200px;
    height: 58px;
    margin-bottom: 10px;
  }
  
  .label {
    color: #000;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 181.523%;
    margin-top: 0;
    margin-right: 32.674px;
  }
  
  .inputfield {
    border: 1px solid #ccc;
    padding: 5px;
  }
  
  .buttonscontainer {
    display: flex;
    flex-direction: row;
  }
  
  .cancelbutton {
    background: #058D9E;
    color: white;
    height: 60px;
    width: 180px;
    border: 1px solid white;
    border-radius: 0px;
    cursor: pointer;
  }
  
  .submitbutton {
    background: #BF00ED;
    color: white;
    height: 60px;
    width: 180px;
    border: 1px solid white;
    border-radius: 0px;
    cursor: pointer;
    margin-left: 700px;
    margin-right: 200px;
    text-align: center;
  }
  